<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title>andrew shen project</title>

        <script type="text/javascript">
     
        </script>

        <!--
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

        -->
        <script type="text/javascript" src="jquery/jquery-1.4.2.js"></script>

        <style type="text/css">
            body {
                margin:10px;
            }
            #clock{
                float:right;
            }

        </style>

    </head>

    <html>
        <head>
            <script type="text/javascript">

                $(document).ready(function(){
                    //begin entire
                    var refreshIntervalEvent = setInterval('watchSysClock()' , RefreshRate);
                    
                    $('#stopTimerButton').click(function(){
                        endSession();
                    });

                    function endSession(){
                        clearInterval(refreshIntervalEvent);
                    }
                });


                var StartTime = new Date();
                var StartSecMarker = absSecondMarker(StartTime);
                //how many seconds per interval?
                var IntervalSeconds = 3;
                //in milliseconds
                var RefreshRate = 100;
                var intervals = [];

                function watchSysClock(){
                    //refresh about 10 times/second
                    var now = new Date();
                    checkIntervalCompleted(now);
                    updateClock(now);
                }
     

                //code based on http://www.w3schools.com/js/tryit.asp?filename=tryjs_timing_clock
                function updateClock(currentNow){

                    var h = currentNow.getHours();
                    var m = currentNow.getMinutes();
                    var s = currentNow.getSeconds();
                    // add a zero in front of numbers<10
                    m = formatLeadZero(m);
                    s = formatLeadZero(s);
                    $('#clock').html(h + ":" + m + ":" + s);
                }

                function formatLeadZero(i){
                    if (i<10)
                    {
                        i="0" + i;
                    }
                    return i;
                }

                //don't just check for correct time, check for > correct time
                //because if for some reason the processesor is really taxed,
                //that second could get skipped.
                function checkIntervalCompleted(currentNow){
                    //check if intervalCompleted alert has been
                    var currSecMarker = absSecondMarker(currentNow);
                    var currSecDiff = currSecMarker - StartSecMarker;
                    var currInterval = Math.floor(currSecDiff / IntervalSeconds);
                    if(currInterval > intervals.length){
                        intervals.push(currSecMarker);
                        $('#initLog').html(intervals.toString());
                    }
                }

                function absSecondMarker(currentNow){
                    //get secondMarker from global milliseconds marker
                    var milSecMarker = currentNow.getTime(); //abs unix time
                    var secMarker = Math.floor(milSecMarker/1000);
                    return secMarker;
                }
               
                


            </script>
        </head>

        <body>
            <div id="clock"></div>
            <div id="report">
                <h2>Test: script log</h2>
                <h3>Initialize</h3>
                <p id="initLog"></p>
                <div>
                    <button id="stopTimerButton">stop</button>
                </div>

            </div>
        </body>


        <script type="text/javascript">
        </script>

    </html>
