{% extends "base.html" %}

{% block chatSession %}
<div id="chatSession">
    <h1>AppEngine Chat</h1>
    <div>
        <form method="post" action="#" onsubmit="doChatEntry(); return false;">
            <input id="chatMessage" "type="text" name="message" size="60" />
            <input type="submit" value="Chat" />
        </form>
    </div>
    {% ifnotequal error None %}
    <p>
        {{ error }}
    </p>
    {% endifnotequal %}
    <div id="chatContent">
        <!-- -->

        Loading...
    </div>
</div>

{% endblock %}
{% block footer %}
<form mame="finishForm" action="/clearChat" method="post">
    <div>
        <br />
        <button name="clearChat" type="submit" value="clear chat">clear chat</button><br />
    </div>
</form>

{% endblock %}
